@import "./variables";
@import "./media-queries";

.button{
    background: $blue;
    margin: 100px 25% 100px 13%;
    padding: 30px 40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;

    @include w870px{
        display: block;
       margin: 100px auto;
       padding: 20px 30px;
       font-size: 20px;
    }
}

.button:hover{
    box-shadow: 5px 10px 18px $light-blue;
}